#root {
  color: white;  
  /*font-size: 50em; */
  font-family: 'Gilda Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gildadisplay/v18/t5tmIRoYMoaYG0WEOh7HwMeR7Tk.ttf) format('truetype');
  background-color: #00ff00; 
}

.thing {
  text-align: center;
  position: relative; 
  /* left: 900px;  */
  top: -200px; 
  display: inline-flex;
  flex-direction: column;  
  color: white; 
  gap: 0px;
  background-color: #5d383170;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
}

.amount {
  display: flex;
  justify-content: center;

}

h3 {
  font-size: 30px; 
  margin: 10px;
}

#income {
  background-color: #75946B;
  display: inline-block;
  padding: 10px;
}

#expense {
  background-color: #d76c6e;
  display: inline-block;
  padding: 10px;
}

h1 {
  font-size: 30px; 
  margin-bottom: 10px;
}

#number {
  font-size: 50px;
  margin: 0px;
}

.navbar.navbar-expand-lg {
  background-color: #A8857a; 
}
.container-fluid {
  /* background-color: blue;  */
  color: white;  
}

.navbar-brand {
  
  color: white;
  font-size: 2em; 
}

.navbar-brand:focus {
  color: white;
}

.navbar-brand:hover {
  color: white;
  text-decoration-line: underline; 
}

.navbar-nav .nav-link,  .navbar-nav .nav-link.active{
  color: white ; 
  font-size: 1.5em; 
}

.navbar-nav .nav-link:hover {
  text-decoration-line: underline;
}

@media all and (max-width: 1468px) {
  .thing{
    top: -150px;
  }
}

@media all and (max-width: 1286px) {
  .thing{
    top: -100px;
  }
}

.row.g-3.align-items-center {
  justify-content: center; 
  height: 10vh; 
  margin: 0px; 
  padding-bottom: 5px; 
  background-color: #A8857a; 
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #5d3831; 
  border: 0px;
}

.col-auto {
  display: flex; 
  flex-direction: row; 
}

.container2 {
  display: flex; 
  background-color: white; 
}

.table {
  margin: 10px; 
}



